<h1 class="text-3xl"><%= @title %></h1>
<%= Phoenix.HTML.raw(@body) %>
<%= if length(@other_pages)>0 do %>
  <h2 class="text-xl mt-3 pb-1">Older posts</h2>
  <ul>
    <%= for older_page <- @other_pages do %>
      <li>
        <a class="underline hover:no-underline" href={"/posts/#{older_page["slug"]}"}><%= older_page["title"] %></a>
      </li>
    <% end %>
  </ul>
<% end %>
