<h1 class="text-3xl"><%= @title %></h1>
<p class="mb-2">
  <time datetime={@published}><%= @published %></time>
  <%= if @revised do %>
    (revised on <time datetime={@revised}><%= @revised %></time>)
  <% end %>
</p>
<%= Phoenix.HTML.raw(@body) %>

