{% extends "layout" %}
{% block content %}
<form method="post" hx-boost="true" class="flex flex-col" action="/admin/pages/{{id}}">
  <input type="text" name="title" value="{{title}}" />
  <input type="hidden" name="slug" value="{{slug}}"/>
  <input type="checkbox" name="publish"/>
  <textarea name="content">{{content}}</textarea>
  <button type="submit">Save</button>
</form>
{% endblock content %}