{% extends "layout" %}
{% block content %}
<h1 class="text-3xl">{{current_page.title}}</h1>
<div>{{current_page.content | safe}}</div>
<h2 class="text-2xl">Older posts</h2>
<ul>
{% for page in pages %}
    <li>{{page.title}}</li>
{% endfor %}
</ul>
{% endblock content %}