<html>
  <head>
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  <body>
    <main class="flex">
      {{> @partial-block }}
    </div>
    <!--
      JSPM Generator Import Map
      Edit URL: https://generator.jspm.io/#Y2VnYGBkDM0rySzJSU1hyCjJrdDLL0p3MNSz1DM0AgBfptngHgA
    -->
    <script type="importmap">
    {
      "imports": {
        "htmx.org": "https://ga.jspm.io/npm:htmx.org@1.9.12/dist/htmx.min.js"
      }
    }
    </script>

    <!-- ES Module Shims: Import maps polyfill for older browsers without import maps support (eg Safari 16.3) -->
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" integrity="sha384-ie1x72Xck445i0j4SlNJ5W5iGeL3Dpa0zD48MZopgWsjNB/lt60SuG1iduZGNnJn" crossorigin="anonymous"></script>

    <link rel="modulepreload" href="https://ga.jspm.io/npm:htmx.org@1.9.12/dist/htmx.min.js" integrity="sha384-o6VD1n/t+zKgj+KuuUW/YjhM5GYLOoQ8+KGacKBb5vFd4ZLbVn05IGRgI3GAz07l"/>

    <script type="module">
      import 'htmx.org'
    </script>
  </body>
</html>
